// Color Theme
@import 'Theme/themes';
//Typography
@import 'Typography/fontFamily';
@import 'Typography/typeScale';
//Utilities
@import 'Utilities/Mixins/flexGrid';
@import 'Utilities/Mixins/grid';
@import 'Utilities/width';
@import 'Utilities/height';
@import 'Utilities/displayFlex';
//Components
@import 'Components/button';
@import 'Components/textInput';
@import 'Components/combobox';
@import 'Components/radioButton';
@import 'Components/checkBox';
@import 'Components/toast';
@import 'Components/modal';
@import 'Components/backdrop';
@import 'Components/spinner';
//Main HTML Rules

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: $grey-900;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
// @include grid;
@include flex-grid(20);
