// Color Theme
@import 'Theme/themes';
//Typography
@import 'Typography/fontFamily';
@import 'Typography/typeScale';
//Utilities
@import 'Utilities/Mixins/flexGrid';
@import 'Utilities/Mixins/grid';
@import 'Utilities/width';
@import 'Utilities/displayFlex';
//Components
@import 'Components/button';
@import 'Components/textInput';
@import 'Components/combobox';
//Main HTML Rules
html {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
@include grid;
@include flex-grid(18);
