.text-input-container {
  $self: &;
  $containerHeight: 42px;
  $borderRadius: 4px 0px 0px 4px;
  $labelTransition: top 0.4s ease-in, font-size 0.6s;

  position: relative;
  height: $containerHeight;
  display: flex;
  flex-flow: column nowrap;

  &__text-label {
    color: $grey-400;

    position: absolute;
    left: 50px;
    top: 9px;

    transition: $labelTransition;
  }
  &__text-icon {
    border-radius: $borderRadius;
    background-color: $blue-700;
    color: $white;
    height: 94%;
    width: 38px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text-input {
    border-radius: 4px;
    height: 80%;

    border: 3px solid $blue-700;
    padding: 10px 0px 0px 44px;
    outline: none;
    color: $grey-100;

    .errors & {
      border-bottom: 3px solid red;
    }
    &:active + label,
    &:focus + label,
    &:valid + label {
      top: 2px;
      left: 48px;
      font-size: $copyright-text;
      transition: $labelTransition;
    }
  }
  &__text-requirements {
    height: 30%;
    padding-left: 6px;
    opacity: 0;
    .errors & {
      opacity: 1;
    }
  }
}
