.text-input-container {
  $self: &;
  $containerHeight: 68px;
  $borderRadius: 4px 0px 0px 4px;
  $labelTransition: top 0.4s ease-in, font-size 0.6s;

  position: relative;
  height: $containerHeight;
  display: flex;
  flex-flow: column nowrap;

  overflow: hidden;
  &__text-label {
    color: $grey-400;

    position: absolute;
    left: 50px;
    top: 12px;

    transition: $labelTransition;
  }
  &__text-icon {
    border-radius: $borderRadius;
    background-color: $blue-600;
    color: $white;
    height: 67%;
    width: 38px;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__text-input {
    border-radius: 4px;
    height: 70%;

    border: 3px solid $blue-600;
    padding: 18px 2px 0px 44px;
    outline: none;
    color: $grey-200;

    .errors & {
      border-bottom: 3px solid red;
    }
    &:focus {
      border-color: $blue-500;
    }
    &:focus + #{ $self }__text-icon {
      background-color: $blue-500 !important;
    }
    &:active + label,
    &:focus + label,
    &:valid + label {
      top: 6px;
      font-size: $helper-text;
      transition: $labelTransition;
    }
  }
  &__text-requirements {
    height: 30%;
    padding-left: 6px;
    opacity: 0;
    .errors & {
      opacity: 1;
    }
  }
}
