$aqua-100: hsl(180, 97%, 25%) !default;
$aqua-200: hsl(180, 98%, 35%) !default;
$aqua-300: hsl(180, 95%, 43%) !default;
$aqua-400: hsl(180, 90%, 49%) !default;
$aqua-500: hsl(180, 91%, 58%) !default;
$aqua-600: hsl(180, 91%, 70%) !default;
$aqua-700: hsl(180, 91%, 82%) !default;
$aqua-800: hsl(180, 96%, 91%) !default;
$aqua-900: hsl(180, 89%, 96%) !default;
