@import '../../Utilities/Mixins/colorMaker';

$blue-100: hsl(234, 61%, 20%) !default;
$blue-200: hsl(245, 46%, 27%) !default;
$blue-300: hsl(237, 52%, 35%) !default;
$blue-400: hsl(245, 68%, 49%) !default;
$blue-500: hsl(235, 76%, 54%) !default;
$blue-600: hsl(230, 80%, 62%) !default;
$blue-700: hsl(219, 74%, 71%) !default;
$blue-800: hsl(220, 69%, 86%) !default;
$blue-900: hsl(227, 90%, 96%) !default;

$blueColors: (
  100: $blue-100,
  200: $blue-200,
  300: $blue-300,
  400: $blue-400,
  500: $blue-500,
  600: $blue-600,
  700: $blue-700,
  800: $blue-800,
  900: $blue-900,
);
@include colorMaker($blueColors, 'blue');
