@import '../../Utilities/Mixins/colorMaker';

$white: hsl(0, 0%, 100%) !default;
$black: hsla(0, 0%, 0%, 0) !default;

$grey-100: hsl(203, 14%, 26%) !default;
$grey-200: hsl(201, 16%, 34%) !default;
$grey-300: hsl(202, 17%, 41%) !default;
$grey-400: hsl(202, 19%, 50%) !default;
$grey-500: hsl(202, 22%, 58%) !default;
$grey-600: hsl(201, 24%, 70%) !default;
$grey-700: hsl(203, 22%, 77%) !default;
$grey-800: hsl(202, 22%, 90%) !default;
$grey-900: hsl(220, 14%, 96%) !default;

$greyColors: (
  100: $grey-100,
  200: $grey-200,
  300: $grey-300,
  400: $grey-400,
  500: $grey-500,
  600: $grey-600,
  700: $grey-700,
  800: $grey-800,
  900: $grey-900,
);
@include colorMaker($greyColors, 'grey');
