$green-100: hsl(145, 90%, 36%) !default;
$green-200: hsl(145, 92%, 43%) !default;
$green-300: hsl(145, 94%, 47%) !default;
$green-400: hsl(145, 97%, 49%) !default;
$green-500: hsl(145, 96%, 52%) !default;
$green-600: hsl(145, 96%, 64%) !default;
$green-700: hsl(145, 95%, 76%) !default;
$green-800: hsl(145, 92%, 86%) !default;
$green-900: hsl(146, 91%, 95%) !default;
