$xl-title-text: 2.488rem;
$l-title-text: 2.074rem;
$m-title-text: 1.728rem;
$s-title-text: 1.44rem;
$xs-title-text: 1.25rem;

$paragraph-text: 1rem;
$helper-text: 0.8rem;
$copyright-text: 0.7rem;

h1 {
  font-size: $xl-title-text;
}
h2 {
  font-size: $l-title-text;
}
h3 {
  font-size: $m-title-text;
}
h4 {
  font-size: $s-title-text;
}
h5 {
  font-size: $xs-title-text;
}

p,
textarea,
input,
button {
  font-size: $paragraph-text;
}
span {
  font-size: $helper-text;
}
